table {
  border: black solid;
  border-collapse: collapse;
  width: 100%;
}
thead {
  border: black solid;
  background-color: grey;
}
tr:nth-child(even) {
  background-color: orange;
}
td {
  border: black solid;
}
#population{
  text-align: end;
}